.App {
	min-height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family: 'Rubik', sans-serif;
	color: #78909c;
	background: linear-gradient(
		135deg,
		rgba(179, 229, 252, 1) 0%,
		rgba(179, 229, 252, 1) 50%,
		rgba(240, 98, 146, 1) 50%,
		rgba(240, 98, 146, 1) 100%
	);
}
@media (min-width: 768px) {
	.App {
		height: 100vh;
		align-items: center;
	}
}
